# OR only to exclude workspace cache
JITL/.obsidian/workspace.json

# to exclude workspace cache specific to mobile devices
JITL/.obsidian/workspace-mobile.json

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
JITL\.obsidian
